
  *{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
   
}      /* univerzalno za cijelu stranicu*/


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}   /* navigacijski bar pozicija*/

.logo{
  display: inline-block;
  padding: 15px 20px 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 300;
  vertical-align: middle;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none;
    float: left;
} /* header nav bar lista*/

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color:#333;
    display: block;
} /* slova navbar */

header .navbar ul li a:hover{
    background: #333;
    color:#fff;

} /* prijelaz */


  
  

.sadrzaj{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    

}

.sadrzaj h1{
    font-size: 70px;
    margin-top: 80px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}
.sadrzaj h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}  /* prijelaz slova na sredini */

.sadrzaj h1{
    margin: 20px auto;
    line-height: 25px;
   
}



button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}



button:hover{
    color: #fff;
    -webkit-text-stroke: 2px #fff;
}
    

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;


}

.pozadina{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
    
   
}

/* Media queries for responsiveness 
@media screen and (max-width: 768px) {
    .sadrzaj h1 {
        margin-top: 50%;
      font-size: 3rem;
    }
  
    .sadrzaj p {
      font-size: 1.2rem;
    }

    .pozadina {
    position: relative;
    margin-top: 190px;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

    }
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 655px;
        background-color: rgba(0, 0, 0, 0.5); 
      }
  }

  @media screen and (min-width: 580px  ) and (max-width: 589px) {
    .sadrzaj h1 {
        margin-top: 50%;
        font-size: 3rem;
    }
  
    .sadrzaj p {
      font-size: 1.2rem;
    }

    .pozadina {
    position: relative;
    margin-top: 120px;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

    }
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 560px;
        background-color: rgba(0, 0, 0, 0.5); 
      }
  }


  @media screen and (min-width: 589px  ) and (max-width: 599px) {
    .sadrzaj h1 {
        margin-top: 50%;
        font-size: 3rem;
    }
  
    .sadrzaj p {
      font-size: 1.2rem;
    }

    .pozadina {
    position: relative;
    margin-top: 120px;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

    }
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 560px;
        background-color: rgba(0, 0, 0, 0.5); 
      }
  }

  @media screen and (min-width: 600px  ) and (max-width: 615px) {
    .sadrzaj h1 {
        margin-top: 50%;
        font-size: 3rem;
    }
  
    .sadrzaj p {
      font-size: 1.2rem;
    }

    .pozadina {
    position: relative;
    margin-top: 115px;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

    }
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 560px;
        background-color: rgba(0, 0, 0, 0.5); 
      }
  }

  @media screen and (min-width: 616px  ) and (max-width: 630px) {
    .sadrzaj h1 {
        margin-top: 50%;
        font-size: 3rem;
    }
  
    .sadrzaj p {
      font-size: 1.2rem;
    }

    .pozadina {
    position: relative;
    margin-top: 100px;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

    }
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 555px;
        background-color: rgba(0, 0, 0, 0.5); 
      }
  }

  @media screen and (min-width: 631px  ) and (max-width: 650px) {
    .sadrzaj h1 {
        margin-top: 50%;
        font-size: 3rem;
    }
  
    .sadrzaj p {
      font-size: 1.2rem;
    }

    .pozadina {
    position: relative;
    margin-top: 95px;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

    }
    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 545px;
        background-color: rgba(0, 0, 0, 0.5); 
      }
  }

*/
.flex-container {
    display: flex;  /* da nav i logo budu u nizu jedan do drugog, a ne jedan ispod drugog */
    justify-content: center;  /*poravnato na sredinu oboje*/
    flex-wrap: wrap;
  }

  .produktiNaslov {
    background-color: black;
    color: white;
    padding: 50px;
  }


  /* FLEX CONTAINER */

  

  /* Styles for the container */
  .container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

/* Styles for each image item */
.item {
    width: calc(25% - 40px);
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the image */
.item img {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

/* Styles for the caption */
.item .captionP {
    color: white;
    text-decoration: none;
}


.captionP a {
    color: white;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .item {
        width: calc(50% - 40px);
        
    }
    .container{
        margin-top: /*50%;*/ 0%;
    }
    .pozadina {
        position: relative;
        margin-top: /*190px;*/2px;
        left: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    
        }
    
        .produktiNaslov {
          margin-top: 170px;
        }
        
    
}
@media (max-width: 649px) {
    .item {
        width: calc(50% - 40px);
        
    }
    .container{
        margin-top: /*50%;*/ 0%;
    }
    .pozadina {
        position: relative;
        margin-top: /*190px;*/2px;
        left: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    
        }
    
        .produktiNaslov {
          margin-top: 95px;
        }
        
    
}

@media (max-width: 579px) {
    .item {
        width: calc(50% - 40px);
        
    }
    .container{
        margin-top: /*50%;*/ 0%;
    }
    .pozadina {
        position: relative;
        margin-top: /*190px;*/2px;
        left: 0;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    
        }
    
        .produktiNaslov {
          margin-top: 170px;
        }
        
    
}
@media (max-width: 480px) {
    .item {
        width: 100%;
    }
}
@media (max-width: 500pxpx) {
    .item {
        width: 100%;
    }
}



footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.podnozje-sadrzaj{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.podnozje-sadrzaj h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}
.podnozje-sadrzaj p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.drustveno{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;


}                                       /****************IKONE************/

.drustveno li{
    margin: 0 10px;

}
.drustveno a{
    text-decoration: none;
    color:#fff;

}

.drustveno a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}



.podnozje-dole{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.podnozje-dole p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.quote-section {
    text-align: center;
}
  

.quote {
    font-size: 24px;
    font-style: italic;
    margin: 0;
    padding: 20px;
}
  
.quote-author {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.facts-pozadina{     
    --h: 212deg;
	--l: 43%;
	--brandColor: hsl(var(--h), 71%, var(--l));
	font-family: Montserrat, sans-serif;
	margin: 0;
	background-color: whitesmoke;
}

.facts-pozadina p{
    margin: 0;
	line-height: 1.6;
}

.facts-pozadina ol{                              /******************CINJENICE***********/
    list-style: none;
	counter-reset: list;
	padding: 0 1rem;
}
.facts-pozadina li{
    position: relative;
	counter-increment: list;
	max-width: 45rem;
	margin: 2rem auto;
	padding: 2rem 1rem 1rem;
	box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: white;
}
.facts-pozadina h1{
  text-align: center;
}
